
@{
    ViewBag.Title = "503 Service Unavailable";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="error js-error">
                <h1 class="error__heading">503</h1>
                <p class="error__content">Apologies we are currently experiencing some technical difficulties.</p>
                <p class="error__content">You can always contact <a href="mailto:support@lowellgroup.co.uk">support@lowellgroup.co.uk</a></p>
                <a href="/" class="btn btn--primary">Back to Home</a>
            </div>
        </div>
    </div>
</div>

