@* IMPORTANT - if changed, must copy into plain HTML pages in root *@

<header class="header">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-6 col-md-3 col-lg-2 logo-container">
                <a href="@Url.Action("Index", "Home")" class="header__logo-wrapper">
                    <img class="header__logo" src="~/images/logos/lowell-logo-white-red.png" alt="Lowell Logo" />
                </a>
            </div>
            </div>
        </div>
</header>
