<div id="reference-number-modal" class="modal mfp-hide">
    <div class="modal__content">
        <div class="row">
            <div class="col-16 col-lg-16">
                <h3>What’s your Lowell reference number?</h3>
                <p>This is a unique number to identify your account with Lowell. You can find it in the top right hand corner of any letters we’ve sent you. You’ll need this to access your account, and we need it to find you on our system so we can give you the right help and support.</p>
            </div>            
        </div>
    </div>
</div>