.breadcrumb {
    background-color: #f2f1f1;
    border-top: 1px solid #bebfc0;
    border-bottom: 1px solid #bebfc0;
    
    &__list {
        ul {
            @include list-style-flex;
            width: 100%;
            flex-wrap: nowrap;
            overflow-x: auto;
            -webkit-overflow-scrolling: touch;
            -ms-overflow-style: -ms-autohiding-scrollbar;

            li {
                padding: 15px 5px;
                flex: 0 0 auto;
                display: flex;
                align-items: center;

                &:first-child {
                    padding-left: 0;
                }

                &:last-child {
                    padding-right: 0;
                }

                a {
                    color: #898c9f;
                    font-size: 1.2rem;
                    text-decoration: none;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }

        &__arrow {
            font-size: 1rem;
            color: #898c9f;
        }
    }
}