.content {
    &-wrapper {
        position: relative;
        @include content-padding();

        &:first-child {
            padding-top: 50px;

            @include media-breakpoint-down(lg) {
                padding-top: 40px;
            }

            @include media-breakpoint-down(md) {
                padding-top: 0;
            }
        }

        &--end {
            @include media-breakpoint-up(md) {
                display: flex;
                justify-content: flex-end;
            }

            @include media-breakpoint-down(md) {
                .content__block {
                    padding-top: 0;
                }
            }
        }

        &--off-white {
            height: 100%;

            &:before {
                @include media-breakpoint-up(md) {
                    @include bg-breakout($brand-new-blue-40p);
                }

                @include media-breakpoint-up(lg) {
                    left: 0;
                }
            }

            &--top {
                @include media-breakpoint-up(md) {
                    padding-left: 50px;
                }

                &:before {
                    @include media-breakpoint-up(sm) {
                        @include bg-breakout($brand-new-blue-40p, 'to-right', true);
                    }

                    @include media-breakpoint-down(sm) {
                        @include bg-breakout($brand-new-blue-40p);
                    }
                }
            }
        }

        &--padding-reset {
            &:first-child {
                padding-top: 0;
            }

            &--bottom {
                padding-bottom: 0;
            }
        }

        &--account {
            padding-left: 0px;
            padding-right: 30px;

            @include media-breakpoint-down(md) {
                padding-left: 15px;
                padding-right: 15px;
            }

            @include media-breakpoint-down(sm) {
                padding-left: 0px;
                padding-right: 0px;
            }

            .content__block {
                p:last-of-type {
                    margin-bottom: 1rem;
                }
            }
        }
    }

    &__block {
        padding-bottom: 40px;

        p:last-of-type {
            margin-bottom: 30px;
        }

        &__text {
            margin-bottom: 20px;

            p {
                margin-bottom: 0;
            }
        }

        &__payment {
            display: flex;
            align-items: center;

            > *:last-child {
                margin-left: 20px;
            }

            p {
                margin-bottom: 0 !important;
                line-height: 1;
                display: inline-flex;
                align-items: center;

                i {
                    font-size: 2.4rem;
                    padding-right: 5px;
                }
            }
        }

        &__accordion {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;

            &__heading {
                flex-basis: 100%;
                flex-shrink: 0;
            }

            &__label {
                flex-shrink: 1;
                font-weight: bold;
            }

            &__button {
                margin-left: 20px;
            }

            form {
                flex-basis: 100%;
            }
        }

        &--budget-heading {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-bottom: 30px;

            h2 {
                margin-bottom: 0;
            }

            .select-wrapper {
                width: 50%;
            }
        }

        &--pt-none {
            padding-top: 0 !important;
        }

        &--pb-none {
            padding-bottom: 0;

            .step {
                @include media-breakpoint-down(md) {
                    margin-bottom: 0;
                }
            }
        }

        &--pt {
            padding-top: 40px;
        }

        &--off-white {
            @include media-breakpoint-down(md) {
                &:before {
                    @include bg-breakout($brand-new-blue-40p);
                }
            }
        }

        @include media-breakpoint-down(md) {
            padding-top: 40px;
        }
    }
}
