ul, ol {
    padding-left: 15px;
    margin-top: 0;
}

.list {
    &--tick {
        list-style: none;
        padding: 0;

        li {
            display: flex;
            align-items: baseline;
            position: relative;
            color: $brand-primary;
            padding-bottom: 5px;
            
            &:before {
                @extend .jw-icon;
                @extend .jw-icon-tick;
                margin-right: 8px;
            }

            &.cross {
                color: $error-red;

                &:before {
                    @extend .jw-icon-cross;
                    font-weight: 600;
                }
            }
        }
    }
}