.image-card {
    @include card-styling($heading-fs: 2.8rem, $heading-lh: 3.2rem, $font-color: white); 

    &__image {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        @include media-breakpoint-down(sm) {
            min-height: 300px;
        }
    }
}